/* Stylesheet 1: */
body {
background: rgba(118, 118, 118, 0.45);
}

.gallery {

    overflow: hidden;
}
.gallery .item {
    margin: 40px;
    width: 300px;
    height: 200px;
    border: 10px solid white;
    position: relative;
    float: left;
}
.gallery .item  {
    opacity: 1;
}
.gallery .item:hover img{
    opacity: 1;
}
.gallery .item:after,
.gallery .item:before {
    content: "";
    position: absolute;
    background-color: #84c754;
    border: 10px solid white;
    width: 300px;
    height: 200px;
    top:-15px;
    left:-15px;
    z-index: -1;

}
.gallery .item:before {
    transform: rotate(-8deg);
}
.gallery .item:after {
    background-color: rgba(255, 46, 52, 0.33);
    top: -14px;
    left: -21px;
    transform: rotate(-14deg);
    z-index: -2;
}