.radio-inputs {
  overflow: hidden;
}

.radio-item {
  float: left;

  input {
    display: none;
  }
}

.radio-label {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 50px;
  margin: 20px;
  opacity: 0.5;
}

.radio-label-1 {
  background-image: url("/img/checked/1.jpg");
}

.radio-label-2 {
  background-image: url("/img/checked/2.jpg");
}

.radio-label-3 {
  background-image: url("/img/checked/3.jpg");
}

.radio-label-4 {
  background-image: url("/img/checked/4.jpg");
}

.radio-label-5 {
  background-image: url("/img/checked/5.jpg");
}

.radio-label-6 {
  background-image: url("/img/checked/6.jpg");
}

.radio-label-7 {
  background-image: url("/img/checked/7.jpg");
}

.radio-label-8 {
  background-image: url("/img/checked/8.jpg");
}

.radio-label-9 {
  background-image: url("/img/checked/9.jpg");
}

.radio-label-10 {
  background-image: url("/img/checked/10.jpg");
}

.radio-item {
  > input:checked + .radio-label {
    opacity: 1;

    &:after {
      position: absolute;
      content: "\2605";
      font-size: 75px;
      top: -3px;
      left: 26px;
      opacity: 0.6;
    }
  }
}