﻿extends layouts/main
block variables
    - pageTitle="Example page"
block styles
    +link("/styles/main.css")
block body
    .gallery
        - for (var i = 1; i < 11; ++i) {
            .item
                img(src="/img/gallery/"+i+".jpg")
        - }
