﻿extends layouts/main
block variables
    - pageTitle="Example page"
block styles
    +link("/styles/radio.css")
block body
    .radio-inputs
        - for (var i = 1; i < 11; ++i) {
             .radio-item
                input(type='radio' id="radio-id-"+i name="avatar")
                label(for="radio-id-"+i class="radio-label radio-label-"+i)
        - }
